---
title: "Topics in Econometrics and Data Science: Tutorial 1"

---

#### General Note

You will very likely find the solution to these exercises online. We, however, strongly encourage you to work on these exercises without doing so. Understanding someone else’s solution is very different from coming up with your own. Use the lecture notes and try to solve the exercises independently.

Traditionally, the first program you write in a new language is called "Hello World!". Use the `print()` statement to display "*Hello World!*" on the screen.

* **Hint**: `help(print)`

In [273]:
# help(print)
print("hello world")

hello world

# Section: Basis

## Exercise 1: Calculations

Use Python as you would a calculator to find the numeric answers

1. $1+2(3+4)$
2. $4^3+3^{2+1}$
3. $\frac{1+2}{3+4}$
4. $\sqrt{(4+3)(2+1)}$
5. $\sin(\pi)+\cos(\pi)$
6. $\exp(0) \log(2)$

**Hint**: Import the *math* module

In [274]:
import math

In [275]:
# 1.
1+2*(3+4)

15

In [276]:
# 2.
4**3+3**(2+1)

91

In [277]:
# 3. 
(1+2)/(3+4)

0.42857142857142855

In [278]:
# 4.
math.sqrt((4+3)*(2+1))

4.58257569495584

In [279]:
# 5.
math.sin(math.pi)+math.cos(math.pi)

-0.9999999999999999

In [280]:
#6.
math.exp(0)*math.log(2)

0.6931471805599453

## Exercise 2: Lists

1. Given a list of integers, output `“True”` if the first and last number of the list are the same (else output `“False”`).

In [304]:
list1 = [1,23,4,123,2,3,5,6,1]
if (list1[0] == list1[-1]):
    print("True")
else:
    print("False")

True

2. Given a list of numbers, print only those numbers that can be divided by 5 without residual.

In [282]:
list2 = [1,23,4,123,2,3,5,6,10]
for i in list2:
    if i%5 == 0:
        print(i)

5
10

3. Write a program that combines two lists by alternatingly taking elements, e.g. `["a","b","c"], [1,2,3] → ["a",1,"b",2,"c",3]`

In [283]:
list4 = ['a','b','c']
list5 = [1,2,3]
list6 = []
for i in range(0,len(list5)):
    list6.append(list4[i])
    list6.append(list5[i])
print(len(list4))
print(len(list5))
print(len(list6))
print(list6)

3
3
6
['a', 1, 'b', 2, 'c', 3]

4. Let a small data set be
$$5\ 2\ 11\ 19\ 6.$$

* Enter these numbers into a list `x_list`.
* Find the square of each number and enter these numbers into a list  `x_square`.

In [284]:
x_list = [5, 2, 11, 19, 6]
# empty list
x_square = [0]*len(x_list)
x_square

[0, 0, 0, 0, 0]

In [285]:
for i in range(len(x_list)):
    x_square[i]=x_list[i]**2
print(x_square)

# Or short-hand notation
x_square2 = [i**2 for i in x_list]

[25, 4, 121, 361, 36]

## Exercise 3: Tuples, Lists and Dictionaries

Consider the screenhot in @fig-wiki-list taken from [wikipedia.org](https://en.wikipedia.org/wiki/List_of_heaviest_land_mammals).

![List of heaviest land mammals.](https://maramattes.github.io/StatProg-HHU/tutorial/tutorial-1/wiki_list.png){#fig-wiki-list}

1. Which Python data types could you use in principle to collect ...

    * ... the names of the five heaviest mammals? Implement it in every possible data type. Write a program that outputs the first, the second and the fifth of the heaviest mammals.

    * ... the names *and* the (maximum) mass of the mammals? Again, implement it in every possible data type and write a program that outputs the name and the maximum mass of the first, the second and the fifth heaviest mammal

In [286]:
# Tuple
mammals_names1 = ("African bush elephant", "Asian elephant", "African forest elephant", "White rhinoceros", "Indian rhinoceros")

# List
mammals_names2 = ["African bush elephant", "Asian elephant", "African forest elephant", "White rhinoceros", "Indian rhinoceros"]

# Dictionary
mammals_names3 = {'names': ["African bush elephant", "Asian elephant", "African forest elephant", "White rhinoceros", "Indian rhinoceros"]}

mammals_names1[0]
mammals_names1[1]
mammals_names1[4]

mammals_names2[0]
mammals_names2[1]
mammals_names2[4]

mammals_names3['names'][0]
mammals_names3['names'][1]
mammals_names3['names'][4]


# Manual index provision (tuple)
for i in [0,1,4]:
    print(mammals_names1[i]) 

# Manual index provision (list)
for i in [0,1,4]:
    print(mammals_names2[i])

# Manual index provision (dictionary)
for i in [0,1,4]:
    print(mammals_names3['names'][i])

# Short hand loop (one-liner) ("list comprehension")
print([mammals_names1[i] for i in [0,1,4]])

African bush elephant
Asian elephant
Indian rhinoceros
African bush elephant
Asian elephant
Indian rhinoceros
African bush elephant
Asian elephant
Indian rhinoceros
['African bush elephant', 'Asian elephant', 'Indian rhinoceros']

In [287]:
# Nested tuple
mammals1 = (("African bush elephant",8000), ("Asian elephant", 5000), ("African forest elephant", 4000), ("White rhinoceros", 3600), ("Indian rhinoceros", 3000))

# Nested list
mammals2 = [["African bush elephant",8000], ["Asian elephant", 5000], ["African forest elephant", 4000], ["White rhinoceros", 3600], ["Indian rhinoceros", 3000]]

In [288]:
# Manual index provision (tuple)
for i in [0,1,4]:
    print(mammals1[i])

# Manual index provision (list)
for i in [0,1,4]:
    print(mammals2[i])

('African bush elephant', 8000)
('Asian elephant', 5000)
('Indian rhinoceros', 3000)
['African bush elephant', 8000]
['Asian elephant', 5000]
['Indian rhinoceros', 3000]

In [289]:
# Print every second mammal (list)
for i in range(0, len(mammals2), 2):
    print(mammals2[i])

['African bush elephant', 8000]
['African forest elephant', 4000]
['Indian rhinoceros', 3000]

In [290]:
# Dictionary (with lists)
mammals_mass2 = [8000, 5000, 4000, 3600, 3000]

mammals3 = {"Name": mammals_names2,
            "Mass": mammals_mass2}

print(mammals3)

print(mammals3["Name"][0])
print(mammals3["Name"][1])

print(mammals3["Mass"][0])
print(mammals3["Mass"][1])

{'Name': ['African bush elephant', 'Asian elephant', 'African forest elephant', 'White rhinoceros', 'Indian rhinoceros'], 'Mass': [8000, 5000, 4000, 3600, 3000]}
African bush elephant
Asian elephant
8000
5000

In [291]:
mammals4 = {"African bush elephant" : 8000,
    "Asian elephant" : 5000,
    "African forest elephant" : 4000,
    "White rhinoceros" : 3600,
    "Indian rhinoceros": 3000
}
# doesn't work
# mammals4[0]
print(mammals4['African bush elephant'])

print(mammals4.items())
print(list(mammals4.items()))
print(list(mammals4.items())[0])
print(list(mammals4.items())[1])

8000
dict_items([('African bush elephant', 8000), ('Asian elephant', 5000), ('African forest elephant', 4000), ('White rhinoceros', 3600), ('Indian rhinoceros', 3000)])
[('African bush elephant', 8000), ('Asian elephant', 5000), ('African forest elephant', 4000), ('White rhinoceros', 3600), ('Indian rhinoceros', 3000)]
('African bush elephant', 8000)
('Asian elephant', 5000)

In [292]:
# List of dictionary
print(mammals2)
mammals_list_with_dict = []
for i in range(0, len(mammals2)):
    a_dict = {"Name": mammals2[i][0], "Mass": mammals2[i][1]}
    mammals_list_with_dict.append(a_dict)

print(mammals_list_with_dict)

[['African bush elephant', 8000], ['Asian elephant', 5000], ['African forest elephant', 4000], ['White rhinoceros', 3600], ['Indian rhinoceros', 3000]]
[{'Name': 'African bush elephant', 'Mass': 8000}, {'Name': 'Asian elephant', 'Mass': 5000}, {'Name': 'African forest elephant', 'Mass': 4000}, {'Name': 'White rhinoceros', 'Mass': 3600}, {'Name': 'Indian rhinoceros', 'Mass': 3000}]

In [293]:
# Dictionary from list
mammals_dict_from_list = {i : mammals2[i] for i in range(0, len(mammals2) ) }

print(mammals_dict_from_list)

for i in [0,1,4]:
    print(mammals_dict_from_list[i])

{0: ['African bush elephant', 8000], 1: ['Asian elephant', 5000], 2: ['African forest elephant', 4000], 3: ['White rhinoceros', 3600], 4: ['Indian rhinoceros', 3000]}
['African bush elephant', 8000]
['Asian elephant', 5000]
['Indian rhinoceros', 3000]

In [294]:
mammals_dict_from_list2 = {mammals2[i][0] : mammals2[i][1] for i in range(0, len(mammals2) ) }
mammals_dict_from_list2

{'African bush elephant': 8000,
 'Asian elephant': 5000,
 'African forest elephant': 4000,
 'White rhinoceros': 3600,
 'Indian rhinoceros': 3000}

In [295]:
# getting list from dict
list(mammals4.keys())

['African bush elephant',
 'Asian elephant',
 'African forest elephant',
 'White rhinoceros',
 'Indian rhinoceros']

In [296]:
# using dict()
mammals_dict_from_list3 = dict.fromkeys(mammals_names2, mammals_mass2)
mammals_dict_from_list3['African bush elephant'] = 123 # or in loop
mammals_dict_from_list3

{'African bush elephant': 123,
 'Asian elephant': [8000, 5000, 4000, 3600, 3000],
 'African forest elephant': [8000, 5000, 4000, 3600, 3000],
 'White rhinoceros': [8000, 5000, 4000, 3600, 3000],
 'Indian rhinoceros': [8000, 5000, 4000, 3600, 3000]}

In [297]:
mammals_dict_from_list2  = dict(zip(mammals_names2, mammals_mass2))
mammals_dict_from_list2

{'African bush elephant': 8000,
 'Asian elephant': 5000,
 'African forest elephant': 4000,
 'White rhinoceros': 3600,
 'Indian rhinoceros': 3000}

2. Based on Part 1., consider the following problems. Discuss/show whether and how you could solve them with the different data type implementations.
    * Consider the names of the heaviest mammals only. A researcher wants to sort the names of the heaviest animals according to their alphabetical order. Create a new list called `mammals_names_sorted`. What happens do the original list of names, if you use Python's `.sort()` method for lists?
    
    * A new study reports the observation of a new species called "Giant Australian hamster" with a mass of 5000 kg. Insert this observation in your list. **Hint**: Use Python's `.insert()` method for lists.

    * Now, consider the list of the mammals' name *and* mass. A new study reports that an African bush elephant with a mass of 10000 kg has been observed. Update the list of heaviest mammals in the solutions from Part 1. (if possible).

In [298]:
mammals_names_sorted = mammals_names2.copy()
mammals_names_sorted.sort()
print(mammals_names_sorted)
print(mammals_names2)

['African bush elephant', 'African forest elephant', 'Asian elephant', 'Indian rhinoceros', 'White rhinoceros']
['African bush elephant', 'Asian elephant', 'African forest elephant', 'White rhinoceros', 'Indian rhinoceros']

In [299]:
# Sort lists and tuples with sorted()
mammals_names_sorted = sorted(mammals_names2)
print(mammals_names_sorted)

['African bush elephant', 'African forest elephant', 'Asian elephant', 'Indian rhinoceros', 'White rhinoceros']

In [300]:
mammals2.insert(1, ["Giant Australian hamster", 5000])
print(mammals2)

[['African bush elephant', 8000], ['Giant Australian hamster', 5000], ['Asian elephant', 5000], ['African forest elephant', 4000], ['White rhinoceros', 3600], ['Indian rhinoceros', 3000]]

In [301]:
mammals2[0][1] = 10000
mammals2

[['African bush elephant', 10000],
 ['Giant Australian hamster', 5000],
 ['Asian elephant', 5000],
 ['African forest elephant', 4000],
 ['White rhinoceros', 3600],
 ['Indian rhinoceros', 3000]]

In [ ]:
# dictionary
mammals4['African bush elephant'] = 10000
mammals4